@font-face
    font-family: 'Exo2.0-Thin'
    src: url('../fonts/Exo2.0-Thin.woff')
    
.main-page-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: 100vh
    min-width: 320px
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), url('../images/background-pattern.png')
.main-page
    display: flex
    padding: 20px 0
    flex-direction: column
    align-items: center

.main-page__products
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 100vw //ie11 fix
.main-page__product
    margin: 24px 40px 0
.main-page__tagline
    text-shadow: 0 1px 0 #000000
    color: #ffffff
    font-family: "Exo2.0-Thin"
    font-size: 36px
    font-weight: 400
    padding: 0 16px
    text-align: center

.product__card
    display: flex
    flex-direction: column
    width: 320px
    height: 436px
    border: 4px solid #1698d9
    border-color: #1698d9
    border-top: none
    border-radius: 12px
    border-top-left-radius: 0
    border-top-right-radius: 0
    position: relative
    margin-top: 44px
    padding-left: 45px
    background: url('../images/photo-cat.png') left bottom no-repeat, #f2f2f2
    cursor: pointer

    &:before
        position: absolute
        top: -44px
        left: 18px
        display: block
        width: 247px
        height: 45px
        content: ''
        background-color: inherit
        -webkit-transform: skew(-45deg)
        transform: skew(-45deg)
        border: 4px solid #1698d9
        border-color: inherit
        border-left-width: 5px
        border-bottom: none
        border-right: none
        
    &:after
        position: absolute
        top: -44px
        left: 160px
        display: block
        width: 156px
        height: 45px
        content: ''
        background-color: inherit
        border: 4px solid #1698d9
        border-color: inherit
        border-bottom: none
        border-left: none
        border-top-right-radius: 12px
.card__tagline, .card__tagline-alt
    position: absolute
    width: 266px
    z-index: 1
    color: #666666
    font-family: "Trebuchet MS"
    font-size: 16px
    font-weight: 400
    top: -22px
.card__tagline-alt
    display: none
    color: #e62e7a
.card__header
    margin: 2px 0 0 -3px
    font-family: "Trebuchet MS"
    font-size: 48px
    font-weight: 700
.card__description
    color: #000000
    font-family: "Trebuchet MS"
    font-size: 24px
    font-weight: 700
    margin-bottom: 14px
.card__info-size, .card__info-bonus
    color: #666666
    font-family: "Trebuchet MS"
    font-size: 14px
    font-weight: 400
    line-height: 16px

.card__weight
    display: flex
    flex-direction: column
    align-items: center
    margin: auto 11px 11px auto
    width: 80px
    height: 80px
    background-color: #1698d9
    border-radius: 50%
    color: #ffffff
    font-family: "Trebuchet MS"
    font-weight: 400
    overflow: hidden
.weight__amount
    margin-top: 8px
    font-size: 42px
    height: 42px
.weight__measure
    font-size: 21px

.product__tip-to-buy, .product__tip-selected
    width: 320px
    display: none
    text-shadow: 0 1px 0 #000000
    color: #ffffff
    font-family: "Trebuchet MS"
    font-size: 13px
    font-weight: 400
    line-height: 16px
    text-align: center
    margin-top: 14px

.tip__link
    color: #1698d9
    font-weight: 700
    text-decoration: none
    border-bottom: 1px dashed #1698d9
.tip__dot
    color: #1698d9

.product__tip-unavailable
    width: 320px
    display: none
    text-shadow: 0 1px 0 #000000
    color: #ffff66
    font-family: "Trebuchet MS"
    font-size: 13px
    font-weight: 400
    line-height: 16px
    margin-top: 15px
    text-align: center

.main-page__product_available .product__tip-to-buy
    display: block
.main-page__product_available .product__card
    border-color: #1698d9
    &:hover
        border-color: #2ea8e6
        & .card__weight
            background-color: #2ea8e6

.main-page__product_selected .product__card
    border-color: #d91667
    & .card__tagline
        display: block
    & .card__weight
        background-color: #d91667
    &:not(.product__card_hover-disabled):hover
        border-color: #e62e7a
        & .card__tagline
            display: none
        & .card__tagline-alt
            display: block
        & .card__weight
            background-color: #e62e7a

.main-page__product_selected .product__tip-selected
    display: block

    
.main-page__product_unavailable .product__card
    border-color: #b3b3b3
    box-shadow: inset 320px 436px 0px 0px rgba(242, 242, 242, 0.5)
    cursor: default
.main-page__product_unavailable .product__card > *
    opacity: 0.2
.main-page__product_unavailable .card__weight, .main-page__product_unavailable .card__weight *
    opacity: 1
    background-color: #b3b3b3
.main-page__product_unavailable .product__tip-unavailable
    display: block


@media (max-width: 420px)
    .main-page__product
        margin: 18px 0 0
    .product__card
        width: 300px
    .product__card:before
        top: -43px
    .product__card:after
        left: 140px
        top: -43px
    .card__tagline, .card__tagline-alt
        width: 250px
    .card__header
        font-size: 42px
    .product__tip-to-buy, .product__tip-selected, .product__tip-unavailable
        width: 300px

@media (max-width: 360px)
    .main-page
        padding: 12px 0
    .main-page__tagline
        font-size: 24px